body {
  overflow-x: hidden;
}

.scroll {
  position: fixed;
  bottom: 0;
  left: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #555;
}

h1,
h2,
h3 {
  color: #238acb;
}

h3 {
  margin: 10px 0;
}

a {
  color: #238acb;
}

a img {
  border: none;
}

.front {
  z-index: 500;
  top: 150px;
  width: 6000px;
}

.intro {
  position: absolute;
  left: 500px;
  top: 0px;
  padding-right: 50px;
  background: url('../images/scroll.png') no-repeat right 5px;
}

.page {
  top: 0px;
  width: 500px;
  background: white;
  padding: 10px 30px;
  border: 1px #eee solid;
  position: absolute;
}

.description {
  left: 1500px;
}

.documentation {
  left: 2450px;
  width: 700px;
}

.options {
  width: 700px;
  left: 3800px;
}

.download {
  width: 500px;
  left: 5100px;
}
