.container {
  max-width: 800px;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #999;
}

.tab li {
  border: 1px solid #999;
  background-color: #eee;
  margin-right: -1px;
  margin-bottom: -1px;
}

.tab a {
  display: block;
  padding: 10px 30px;
}

.tab li.active {
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

.content {
  padding: 36px 16px;
}
