.main {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.btns {
  display: flex;
  justify-content: center;
}

button.active {
  background-color: #000;
  color: #fff;
}

.list {
  margin: 40px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.list li {
  height: 200px;
  background-color: #eee;
  line-height: 200px;
  display: none;
}
