.container {
  max-width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  transition: all 0.3s;
  z-index: 1;
}

header.active {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

nav {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 30px;
  overflow: hidden;
  background-color: #fff;
}

nav::after {
  content: '';
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  pointer-events: none;
}

.logo {
  font-size: 36px;
  font-weight: bold;
  margin-top: 15px;
}

nav button {
  margin-top: 25px;
}

.gnb {
  display: flex;
  height: 80px;
}

.gnb > li {
  position: relative;
}

.gnb > li > a {
  display: block;
  height: 80px;
  line-height: 80px;
  padding: 0 70px;
  font-weight: bold;
}

.gnb > li:hover > a {
  color: orangered;
}

.gnb ul {
  background-color: #fff;
  font-size: 14px;
  padding: 10px 0;
  border-left: 1px solid #ddd;
  height: 100%;
}

.gnb > li:last-child ul {
  border-right: 1px solid #ddd;
}

.gnb ul li a {
  display: block;
  padding: 12px 30px;
  white-space: nowrap;
  text-align: center;
}

.gnb ul li a:hover {
  text-decoration: underline;
}

.main {
  margin-top: 80px;
}

.slide {
  height: 600px;
  background-image: url('../images/slide_01.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dimm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  opacity: 0;
  transition: all 0.3s;
  pointer-events: none;
}

.dimm.on {
  opacity: 1;
}
